html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  color: #7f8c8d;
  font: {
    family: 'Open Sans', sans-serif;
    size: 1rem;
  }
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  max: {
    height: 100%;
    width: 100%;
  }
  padding-top: 3rem;
  width: 100vw;
}

.slider {
  &-container {
    overflow: hidden;
    position: relative;
  }

  &.is-set {
    transform: none;
    transition: transform .5s cubic-bezier(.23, 1, .32, 1);
  }

  &.is-reversing {
    @media (min-width: 30em) {
      transform: translateX(-50%);
    }

    @media (min-width: 40em) {
      transform: translateX(-33.33333%);
    }

    transform: translateX(-100%);
  }

  @media (min-width: 30em) {
    left: -50%;
    transform: translateX(50%);
  }

  @media (min-width: 40em) {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }

  display: flex;
  left: -100%;
  position: relative;
  transform: translateX(100%);
}

.previous,
.next {
  &:hover {
    color: #000;
  }

  &:focus {
    outline: 0;
  }

  background: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-size: 3rem;
  line-height: inherit;
  padding: 1rem;
  z-index: 10;
}

.slide {
  &.is-reference {
    order: 1;
  }

  @media (min-width: 30em) {
    flex-basis: 50%;
  }

  @media (min-width: 40em) {
    flex-basis: 33.33333%;
  }

  align-items: center;
  display: flex;
  flex: {
    basis: 100%;
    direction: column;
    grow: 0;
    shrink: 0;
  }
  justify-content: center;
  margin: 0;
  max-width: 100%;
  order: 2;
  padding: {
    left: 1rem;
    right: 1rem;
  }
  position: relative;
}

.image {
  display: block;
  height: auto;
  max-width: 100%
}
